[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
trim_trailing_whitespace=true

[{*.java,*.scala}]
insert_final_newline = true

[{.eslintrc,.babelrc,.stylelintrc,jest.config,*.json,*.js,*.ts,*.less,*.sbt}]
indent_style=space
indent_size=2

[*.html]
indent_style = tab
insert_final_newline = false

[*.md]
trim_trailing_whitespace=false
